.borderLine{
    border: 1px solid violet;
    margin-top: 10px;
}

header{
    
    width: 100%;
    height: 100px;
}

main{
    width: 57%;
    height: 100%;
    float: left;
    margin-left: 10;
    margin-right: 10;
}

aside{
    float: left;
    width: 20%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    float: left;
}