body {
    margin: 0;
    padding: 0;
}

.borderLine {
    border: 1px solid violet;
    margin-top: 10px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

header, nav, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    height: 100px;
}

nav {
    height: 50px;
}

main {
    flex-grow: 1;
}

aside, section {
    flex: 1;
    margin: 10px;
    height: 100vh;
}

footer {
    height: 100px;
}