.borderLine {
    border: 1px solid violet;
    margin-top: 10px;
}

header, nav, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, footer {
    height: 100px;
}

nav {
    height: 50px;
}

main {
    flex-grow: 1;
    height: 100vh;
}

footer {
    height: 100px;
}