.borderLine {
    border: 1px solid violet;
    margin-top: 10px;
}
.flexContainer {
    display: flex;
    justify-content: space-between;
}

header, nav, footer, aside, section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, footer {
    height: 100px;
}

nav {
    height: 50px;
}

aside, section {
    flex: 1;
    margin: 10px;
    height: 100vh;
}

footer {
    height: 100px;
}